.box1{
    box-shadow: 0 0 10px black;
    max-width: 700px;
    height: auto;
    padding: 5px;
}
h1{
    margin-left: 7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
p{
    padding: 0;
    padding-left: 10px;
    padding-right: 5px;
    margin: 0;
}
h2{
    border: solid;
    padding-left: 2px;
    margin-bottom: 8px;
    padding-bottom: 0px;
}
li{
   margin-left: 10px;
   padding-left: 0; 
}